@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #343A40;
    color: #DEE2E6;
}

body {
    background-color: #6C757D;
}

nav {
    background-color: #495057;
}

footer {
    background-color: #495057
}

h2 {
    text-align: center;
}

h5 {
    margin-left: 1rem;
    margin-bottom:1rem;
}

nav ul {
    padding: 3rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #DEE2E6;
}

p.project-description {
    text-wrap: balance;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding-top: 0rem;
}

p {
    margin: 2rem;
}

ul.positions {}

footer ul {
    padding: 3rem;

    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    margin-left: 2rem;
}

div.list {
    margin-left: 2rem;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom:1rem;
}

div.project-list {
    margin-left: 1rem;
}

li.project-description {
    margin-bottom:.5rem;
}